@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --blockWidth: 16vw;
    --mainMargin: calc(var(--blockWidth) / 4);

    --red: rgb(235, 194, 182);
    --green: rgb(178, 236, 185);
    --blue: rgb(145, 197, 235);
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

nav,
aside,
article,
footer {
    display: block;
}

ol,
li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Floats on the left side of the page */
aside {
    width: var(--blockWidth);
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    border: 1px solid black;
    text-align: center;
}

aside section {
    padding: 8px;
}

aside section:first-of-type {
    flex: 1;
}

/* Positioned at the bottom relatively to the aside */
.side-comment {
    height: var(--blockWidth);
    background-color: var(--green);
    border-top: 1px solid black;
}

/* Floats on the right side of a page */
main {
    width: calc(100vw - (var(--blockWidth) + var(--mainMargin)));
    margin-left: var(--mainMargin);
    float: right;
}

header {
    height: calc(var(--blockWidth) / 2);
    padding: calc(var(--mainMargin) / 3);
    background-color: var(--blue);
    border: 1px solid black;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Centered using translate technique */
.top-logo {
    width: var(--blockWidth);
    height: var(--mainMargin);
    background-color: #fff;
    border: 1px solid black;
}

.top-logo:hover {
    opacity: 0.8;
}

.navbar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    float: right;
}

article {
    height: calc(100vh - var(--blockWidth));
    padding: 36px;
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
    border-left: 1px solid black;
}

article p {
    text-align: justify;
}

footer {
    height: calc(var(--blockWidth) / 2);
    padding: calc(var(--mainMargin) / 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border: 1px solid black;
}

/* Centered using flex box */
.bottom-logo {
    width: var(--blockWidth);
    height: var(--mainMargin);
    background-color: #fff;
    border: 1px solid black;
}

.center--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table cell centering technique */
.center--table {
    display: table-cell;
    vertical-align: middle;
}