@import "../../styles/variables.module.scss";

.selectRoot {
    width: calc(100% / 3);
    height: 100vh;
    padding: 12px;
    background-color: lighten($system-tertiary-dark, 32%);
    color: $system-secondary-dark;
    overflow-y: scroll;

    .title {
        @include caption-2;
        text-align: center;
    }
}

.selectEmpty {
    width: 100%;
    height: calc(100% - 29px);
    @include center;

    .selectEmptyIconWrapper {
        // background-color: lighten($system-tertiary-dark, 30%);
        @include center;
        padding: 10px;
        border-radius: 50%;
    }

    .selectEmptyIcon {
        fill: lighten($system-secondary-dark, 45%);
    }
}