@import "../../styles/variables.module.scss";

.editButton {
    padding: 8px;
    position: absolute;
    top: 2%;
    left: 27%;
    border-radius: 50%;
    z-index: 1;

    .editButtonIcon {
        fill: lighten($system-secondary-dark, 20%);
    }
}

.selectRoot {
    width: 26%;
    height: 100vh;
    padding: 12px 0;
    position: relative;
    background-color: lighten($system-tertiary-dark, 32%);
    color: $system-secondary-dark;

    .title {
        @include caption-2;
        text-align: center;
        text-transform: uppercase;
    }

    .tablesContainer {
        height: calc(100% - 44px);
        overflow-y: scroll;

        ul li {
            padding: 0 12px;
        }
    }

    .editPanel {
        width: 100%;
        height: $panel-height;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: $panel-padding 0;
        font-size: small;

        button {
            padding: 1px 4px;
            border-radius: 5px;
            border: 1px solid lighten($system-tertiary-dark, 24%);
            font-weight: 500;
        }
    }
}

.selectEmptyIconWrapper {
    @include center;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .selectEmptyIcon {
        fill: lighten($system-secondary-dark, 45%);
    }
}

.templateInput {
    width: 100%;
    border: 1px solid lighten($system-secondary-dark, 30%);
    border-radius: 6px;
    padding: 2px 4px;
    outline: none;

    &:focus {
        border: 1px solid $system-secondary-dark;
    }
}