@import "../../styles/variables.module.scss";

.editButton {
    padding: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;

    .editButtonIcon {
        fill: lighten($system-secondary-dark, 0);
    }
}

.workbenchRoot {
    width: 100%;
    height: 100vh;
    @include center;
    position: relative;
}

.workbenchEmpty {
    @include headline;
    color: lighten($system-tertiary-dark, 20%);
    text-transform: uppercase;
}