@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --blockHeight: 8vw;
    --asideWidth: 28vw;
    --mainMargin: calc(var(--blockHeight) / 2);

    --grid-gap: 40px;

    --red: rgb(235, 194, 182);
    --redish: rgb(235, 73, 51);
    --light-redish: rgb(223, 135, 124);
    --green: rgb(178, 236, 185);
    --blue: rgb(145, 197, 235);

    --timing-fn: cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

@media screen and (max-width: 767px) {
    :root {
        --blockHeight: 16vw;
    }
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    display: flex;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

h4,
h5,
h6 {
    font-weight: normal;
}

nav,
aside,
article,
footer {
    display: block;
}

li:not(ol>li) {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.nav__navbar--current {
    font-weight: 700;
}

/* ASIDE */

.aside {
    width: var(--asideWidth);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    border: 1px solid black;
}

#aside-folder,
#aside-folder+label {
    display: none;
}

@media screen and (max-width: 767px) {
    .aside {
        width: 70%;
        height: calc(100% - var(--blockHeight) + 1px);
        min-height: 0;
        margin-top: calc(var(--blockHeight) - 1px);
        position: fixed;
        top: 0;
        left: 0;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(-100%);
        transition: transform 350ms var(--timing-fn);
        overflow-y: scroll;
    }

    #aside-folder {
        display: block;
        width: 30px;
        height: 62px;
        position: fixed;
        top: calc(var(--blockHeight) - 1px);

        opacity: 0;
        cursor: pointer;
        z-index: 20;

        transform-origin: 0% 0%;
        transform: none;
        transition: transform 350ms var(--timing-fn);
    }

    #aside-folder+label {
        display: block;
        width: 30px;
        height: 62px;
        padding: 16px 6px;
        position: fixed;
        top: calc(var(--blockHeight) - 1px);

        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 1px solid black;

        overflow: hidden;
        z-index: 10;

        transform-origin: 0% 0%;
        transform: none;
        transition: transform 350ms var(--timing-fn);
    }

    #aside-folder+label::before {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        background: url("../../assets/chevron-right.svg") var(--red) no-repeat center center;
        z-index: -1;
        transition: transform 350ms var(--timing-fn);
    }

    #aside-folder:checked~.aside {
        transform: none;
    }

    #aside-folder:checked~label::before {
        transform: rotate(180deg);
    }
}

.aside__upper {
    flex: 1;
    text-align: center;
}

.alignRight {
    text-align: right !important;
}

.aside section:first-of-type {
    padding: calc(var(--mainMargin) / 2);
}

.aside section:last-of-type {
    padding: calc(var(--blockHeight) / 2 - 12px) calc(var(--mainMargin) / 2);
}

.aside__lower {
    height: var(--blockHeight);
    background-color: var(--green);
    border-top: 1px solid black;
}

/* MAIN */

main {
    margin-left: var(--mainMargin);
    flex: 1;
    min-height: 100vh;
}

@media screen and (max-width: 767px) {
    main {
        margin-left: 0;
    }
}

header {
    height: var(--blockHeight);
    padding: 0 calc(var(--mainMargin) / 2);
    background-color: var(--blue);
    border: 1px solid black;
}

@media screen and (max-width: 767px) {
    header {
        width: 100vw;
        position: fixed;
        z-index: 100;
    }
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.field-box {
    width: calc(1.5 * var(--blockHeight));
    height: calc(var(--blockHeight) / 2);
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .field-box {
        font-size: small;
    }
}

.nav__navbar {
    width: 95%;
    min-width: 390px;
    display: flex;
    justify-content: flex-end;
    float: right;
    text-align: center;
}

#toggleableMenu {
    flex: 1;
    max-height: 100%;
    padding: 5px 0;
}

#toggleableMenu input {
    display: none;
}

/* Hamburger menu for small devices */
@media screen and (max-width: 767px) {
    #toggleableMenu {
        position: relative;
        -webkit-user-select: none;
        user-select: none;
        z-index: 1;
        flex: initial;
    }

    #toggleableMenu input {
        display: block;
        width: 30px;
        height: 28px;
        position: absolute;
        bottom: -1px;
        right: -3px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #toggleableMenu #hamburger {
        display: block;
        width: 24px;
        height: 3px;
        margin-bottom: 4px;
        position: relative;
        background: #232323;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s var(--timing-fn),
            background 0.5s var(--timing-fn),
            opacity 0.55s ease;
    }

    #toggleableMenu #hamburger:first-child {
        transform-origin: 0% 0%;
    }

    #toggleableMenu #hamburger:nth-last-child(2) {
        transform-origin: 0% 0%;
    }

    #toggleableMenu input:checked~#hamburger {
        transform: rotate(45deg) translateY(-0.5px);
    }

    #toggleableMenu input:checked~#hamburger:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #toggleableMenu input:checked~#hamburger:nth-last-child(2) {
        transform: rotate(-45deg);
    }

    #toggleableMenu input:checked~.nav__navbar {
        transform: none;
    }

    .nav__navbar {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        padding: 50px 80px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        background-color: rgba(250, 235, 215, 0.9);
        backdrop-filter: saturate(180%) blur(20px);
        float: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateY(-100%);
        transition: transform 350ms var(--timing-fn);
    }
}

@media screen and (max-width: 300px) {
    .nav__navbar {
        padding: 30px 50px;
    }
}

.article {
    height: calc(100% - 2 * var(--blockHeight));
    padding: var(--grid-gap);
    background-color: transparent;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .article {
        margin-top: var(--blockHeight);
    }
}

@media screen and (max-width: 250px) {
    .article {
        padding: 4px;
    }
}

.article__container {
    display: flex;
}

@media screen and (max-width: 767px) {
    .article__container {
        flex-direction: column;
    }

    .article__list {
        margin-bottom: 30px !important;
    }
}

.article__container>* {
    margin: 0 30px;
}

.article__forms {
    display: flex;
    flex-direction: column;
}

.article__forms form {
    margin-bottom: 30px;
}

.article__forms form label {
    font-size: small;
}

.article__forms form button {
    padding: 6px 12px;
    margin-top: 6px;
    cursor: pointer;
}

#naturalNumberForm {
    display: none;
}

#naturalNumberForm input {
    padding: 6px;
    font-size: 1rem;
}

.article__list {
    width: 120px;
}

.article__list .list-buttons button {
    width: 48%;
}

.footer {
    height: var(--blockHeight);
    padding: 0 calc(var(--mainMargin) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    border: 1px solid black;
}

@media screen and (max-width: 767px) {
    .footer h4 {
        font-size: small;
    }
}

@media screen and (max-width: 300px) {
    .footer h4 {
        font-size: x-small;
    }
}

.center--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.j-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-col {
    flex-direction: column;
}

.text--upper {
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    :root {
        --blockHeight: 8vw;
        --asideWidth: 22vw;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: 60%;
    }

    .navbar li::before {
        bottom: -8px;
    }

    h1 {
        font-size: 24px;
    }

    .bottom-logo a svg {
        width: 22px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 65%;
    }

    .navbar li a {
        font-size: 14px;
    }
}