@import "../../../styles/variables.module.scss";

.selectItemButton {
    width: 100%;
    border-radius: 10px;
    margin: 8px 0;
}

.selectItemWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 6px;

    .selectItemChildren {
        width: inherit;
        margin-left: 10px;
        text-align: start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}